@font-face {
    font-family: jetbrains;
    src: url(jetbrains.woff2);
}

html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: jetbrains;
}

.canvas {
    height: 100%;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 33%;
    align-content: center;
}

.avatar > img {
    width:100%;
    border-radius: 100%;
    border: 5px solid white;
}

.name {
    margin-left: 48px;
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    width: 100%;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) {
    .content {
        width: 100%;
    }

    .avatar {
        width: 400px;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .name {
        width: 100%;
        margin-top: 64px;
        margin-left: 0;
        align-items: center;
    }

    .name > h1 {
        font-size: 70px;
    }

    .name > h3 {
        font-size: 40px;
    }

    .links {
        position: absolute;
        bottom: 64px;
    }

    .links > a {
        font-size: 36px;
    }
}