<footer id='footer'>
  <div class='footer-wrapper'>
    <div class='row'>
      <div class='col-sm-12 text' style="text-align:center;">
        Copyright © 2013 - 2014 Sergio Campamá
        &nbsp;
        <a href="https://github.com/sergiocampama"><i class='icon-github'></i></a>
        <a href="mailto:sergiocampama@gmail.com"><i class='icon-envelope'></i></a>
        <a href="https://twitter.com/sergiocampama"><i class='icon-twitter'></i></a>
        <a href="https://www.facebook.com/sergiocampama"><i class='icon-facebook'></i></a>
        <a href="https://cl.linkedin.com/pub/sergio-campamá/17/234/724/"><i class='icon-linkedin'></i></a>
        <a href="https://coderwall.com/sergiocampama"><img alt="Endorse sergiocampama on Coderwall" src="https://api.coderwall.com/sergiocampama/endorsecount.png" /></a>
      </div>
    </div>
  </div>
</footer>