<div id='main-nav-bg'></div>
<nav id='main-nav'>
  <div class='navigation'>
    <div class='search'>
      <form action='search_results.html' method='get'>
        <div class='search-wrapper'>
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
          <button class='btn btn-link icon-search' name='button' type='submit'></button>
        </div>
      </form>
    </div>
    <ul class='nav nav-stacked'>
      <li class=''>
        <a href="/">
          <i class='icon-user'></i>
          <span>About Me</span>
        </a>
      </li>
      <li class=''>
        <a href="/apps_done">
          <i class='icon-mobile-phone'></i>
          <span>Apps I've Done</span>
        </a>
      </li>
      <li class=''>
        <a class="dropdown-collapse" href="#"><i class='icon-star'></i>
        <span>Demos</span>
        <i class='icon-angle-down angle-down'></i>
        </a>

        <ul class='nav nav-stacked'>
          <li class=''>
            <a href='/demos/geofences.html'>
              <i class='icon-caret-right'></i>
              <span>Geofences</span>
            </a>
          </li>
          <li class=''>
            <a href='/demos/collapsible-list.html'>
              <i class='icon-caret-right'></i>
              <span>jQuery Collapsible List</span>
            </a>
          </li>
          <li class=''>
            <a href='/demos/coverage.html'>
              <i class='icon-caret-right'></i>
              <span>Work Coverage</span>
            </a>
          </li>
        </ul>
      </li>
      <li class=''>
        <a href="/articles">
          <i class='icon-book'></i>
          <span>Articles</span>
        </a>
      </li>
      <li class=''>
        <a href="/donate">
          <i class='icon-bitcoin'></i>
          <span>Donate!</span>
        </a>
      </li>
    </ul>
  </div>
</nav>