---
title: "Geofences"
layout: default
---
<link rel="stylesheet" href="/stylesheets/demos/geofences/app.css">
<script src="/javascripts/angular/angular.min.js"></script>

<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <i class='icon-globe'></i>
        <span>Geofences</span>
      </h1>
    </div>
  </div>
</div>

<div class="row" ng-controller="GeofencesToolController">
  <div class="col-sm-12">
    {% raw %}
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div id="sidebar" class="col-sm-3 well">
            <legend>Geofence List</legend>
            <button ng-click="create_geofence()" class="btn">Create</button>
            <button ng-click="restore_geofence()" class="btn">Restore</button>
            <br><br>
            <div id="geofences_list">
              <div class="input-block-level well" ng-cloak ng-repeat="geofence in geofences" on-finish-render="setup_view">
                <p><strong>{{geofence.name}}</strong>
                  <i data-toggle="tooltip" title="Remove geofence" ng-click="remove_geofence(geofence)" class="pull-right icon icon-minus-sign" style="color:#d9534f;"></i>
                  <i data-toggle="tooltip" title="Fit to map" ng-click="show_geofence(geofence)" class="pull-right icon icon-eye-open"></i>
                  <i data-toggle="tooltip" title="See points" ng-click="show_points(geofence)" class="pull-right icon icon-list"></i>
                </p>
                <div class="form-group">
                  <div class="control-label">Polyline</div>
                  <div class="col-sm-12">
                    <textarea class="form-control polyline_text">{{geofence.polyline}}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="control-label">Area [km2]</div>
                  <div class="col-sm-12">
                    <input type=text class="form-control" value="{{geofence.area.toFixed(3)}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="map" class="col-sm-9 well">
          </div>
        </div>
      </div>
    </div>

    <div id="points_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="points_modal_title" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="points_modal_title">{{modal_header}}</h4>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <th>Latitude</th>
                <th></th>
                <th>Longitude</th>
              </thead>
              <tbody>
                <tr ng-repeat="point in modal_points"><td>{{point.lat().toFixed(6)}}</td><td>,</td><td>{{point.lng().toFixed(6)}}</td></tr>
              </tbody>
            </table>
            
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
          </div>
        </div>
      </div>
    </div>
    {% endraw %}
  </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,visualization&sensor=false"></script>
<script src="/javascripts/bootbox/bootbox.min.js"></script>
<script src="/javascripts/demos/geofences/app.js"></script>
<script src="/javascripts/demos/geofences/geofences-controllers.js"></script>